#u179-4,#u263-4
{
	font-family: open-sans-n3, sans-serif;
}

#u254-5,#u262-4
{
	font-family: pacifico-n4, cursive;
}

#u1114-4,#u249-6
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u1180-4,#u1178-4,#u1179-4,#u844-4,#u1386-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u1103-4,#u911-4
{
	font-family: abel-n4, sans-serif;
}

#u907-4
{
	font-family: abel-n4, sans-serif;
}

#u919-4
{
	font-family: abel-n4, sans-serif;
}

#u993-4
{
	font-family: abel-n4, sans-serif;
}

