.CompanyDescp
{
	font-family: lato-n3, sans-serif;
}

.rolesummaryTITLE,.rolesummaryTEXT
{
	font-family: abel-n4, sans-serif;
}

.companyhead
{
	font-family: open-sans-n4, sans-serif;
}

#u1748-4,#u1572-4
{
	font-family: raleway-n4, sans-serif;
}

#u1431-13,#u1449-4,#u1808-4
{
	font-family: abel-n4, sans-serif;
}

#u1439-4,#u1426-4,#u1419-2,#u1442-2,#u1424-4,#u1443-4,#u1434-4
{
	font-family: open-sans-i3, sans-serif;
}

#u1419-3,#u1442-3,#u1768-4,#u1812-4,#u1815-4,#u1817-4,#u1811-4,#u1813-4,#u1814-4
{
	font-family: open-sans-n6, sans-serif;
}

