#u1023-3
{
	font-family: la-belle-aurore-n4, cursive;
}

#u1023
{
	font-family: pacifico-n4, cursive;
}

#u1023-5
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u265-4,#u267-4,#u266-4,#u268-4,#u269-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u644-4,#u627-13,#u1146-4,#u1128-4,#u1129-28,#u1126-4,#u1125-42,#u1131-4,#u1132-43,#u1134-4,#u1135-20,#u1137-4,#u1136-25,#u1144-16,#u1147-4
{
	font-family: abel-n4, sans-serif;
}

#u1035-2,#u1037-2,#u1038-2,#u1039-2,#u1040-2,#u1041-2,#u1042-2
{
	font-family: open-sans-i3, sans-serif;
}

#u1035-4,#u1037-4,#u1038-4,#u1039-4,#u1040-4,#u1041-4,#u1042-4
{
	font-family: open-sans-n6, sans-serif;
}

