.version.index /* version checker */
{
	color: #0000ED;
	background-color: #744BFB;
}

.html
{
	background-color: #F3F3F3;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 3029px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}

#u1571
{
	z-index: 2;
	width: 305px;
	height: 335px;
	position: relative;
	margin-right: -10000px;
	margin-top: 472px;
	left: 98px;
}

.ie #u1571
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1741
{
	z-index: 3;
	min-height: 467px;
	background-color: #84DEE9;
	padding-bottom: 89px;
}

#u1741_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	left: -100px;
}

#u1693
{
	z-index: 4;
	width: 1002px;
	background-color: #22ACC0;
	padding-bottom: 66px;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	left: 98px;
}

#u1749
{
	z-index: 95;
	width: 224px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 73px;
}

#u1748-4
{
	z-index: 78;
	width: 495px;
	min-height: 67px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	text-align: right;
	font-size: 30px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 316px;
}

#u1572-4
{
	z-index: 74;
	width: 110px;
	min-height: 32px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 816px;
}

#u1741-bw
{
	z-index: 3;
	min-height: 467px;
}

#u1690
{
	z-index: 5;
	width: 1000px;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 467px;
}

#u1690_position_content
{
	padding-top: 119px;
	padding-bottom: 264px;
}

#u1431-13
{
	z-index: 82;
	width: 758px;
	min-height: 294px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #6C6C64;
	line-height: 23px;
	text-align: justify;
	font-size: 18px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 118px;
	position: relative;
}

#u1431-7,#u1431-9
{
	color: #22ACC0;
}

#u1449-4
{
	z-index: 8;
	width: 314px;
	min-height: 34px;
	background-color: transparent;
	color: #8DC9D0;
	line-height: 31px;
	font-size: 24px;
	letter-spacing: 0px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 122px;
	margin-top: 57px;
	position: relative;
}

#accordionu1607
{
	z-index: 188;
	width: 780px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-left: 121px;
	margin-top: 15px;
	position: relative;
}

#u1612
{
	z-index: 189;
	width: 780px;
	background-color: transparent;
	position: relative;
}

#u1615-4
{
	z-index: 190;
	width: 770px;
	min-height: 14px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #7F7F7F;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1615-4:hover
{
	border-style: none;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 770px;
	margin: 0px;
}

#u1615-4:active
{
	border-style: none;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 770px;
	margin: 0px;
}

#u1615-4:hover p
{
	color: #22ACC0;
	visibility: inherit;
}

#u1615-4:active p
{
	color: #22ACC0;
	visibility: inherit;
}

#u1613
{
	z-index: 194;
	width: 778px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 45px;
	position: relative;
}

#u1614-4
{
	z-index: 195;
	width: 608px;
	min-height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: justify;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 77px;
}

#u1614-2
{
	padding-right: 20px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1616
{
	z-index: 199;
	width: 780px;
	background-color: transparent;
	position: relative;
}

#u1619-4
{
	z-index: 200;
	width: 770px;
	min-height: 14px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #7F7F7F;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1619-4:hover
{
	border-style: none;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 770px;
	margin: 0px;
}

#u1619-4:active
{
	border-style: none;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 770px;
	margin: 0px;
}

#u1619-4:hover p
{
	color: #22ACC0;
	visibility: inherit;
}

#u1619-4:active p
{
	color: #22ACC0;
	visibility: inherit;
}

#u1617
{
	z-index: 204;
	width: 778px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u1618-4
{
	z-index: 205;
	width: 588px;
	min-height: 202px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: justify;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 97px;
}

#u1608
{
	z-index: 209;
	width: 780px;
	background-color: transparent;
	position: relative;
}

#u1611-4
{
	z-index: 210;
	width: 770px;
	min-height: 14px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #7F7F7F;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1611-4:hover
{
	border-style: none;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 770px;
	margin: 0px;
}

#u1611-4:active
{
	border-style: none;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 770px;
	margin: 0px;
}

#u1611-4:hover p
{
	color: #22ACC0;
	visibility: inherit;
}

#u1611-4:active p
{
	color: #22ACC0;
	visibility: inherit;
}

#u1609
{
	z-index: 214;
	width: 778px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 6px;
	position: relative;
}

#u1610-4
{
	z-index: 215;
	width: 608px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: justify;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 73px;
}

#u1610
{
	line-height: 24px;
}

#u1620
{
	z-index: 219;
	width: 780px;
	background-color: transparent;
	position: relative;
}

#u1623-4
{
	z-index: 220;
	width: 770px;
	min-height: 14px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #7F7F7F;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1623-4:hover
{
	border-style: none;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 770px;
	margin: 0px;
}

#u1623-4:active
{
	border-style: none;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 770px;
	margin: 0px;
}

#u1623-4:hover p
{
	color: #22ACC0;
	visibility: inherit;
}

#u1623-4:active p
{
	color: #22ACC0;
	visibility: inherit;
}

#u1621
{
	z-index: 224;
	width: 778px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 37px;
	position: relative;
}

#u1634-4
{
	z-index: 225;
	width: 608px;
	min-height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: justify;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 73px;
}

#u1635
{
	z-index: 229;
	width: 780px;
	background-color: transparent;
	position: relative;
}

#u1641-4
{
	z-index: 230;
	width: 770px;
	min-height: 14px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #7F7F7F;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1641-4:hover
{
	border-style: none;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 770px;
	margin: 0px;
}

#u1641-4:active
{
	border-style: none;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 770px;
	margin: 0px;
}

#u1641-4:hover p
{
	color: #22ACC0;
	visibility: inherit;
}

#u1641-4:active p
{
	color: #22ACC0;
	visibility: inherit;
}

#u1636
{
	z-index: 234;
	width: 778px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 59px;
	position: relative;
}

#u1643-5
{
	z-index: 235;
	width: 588px;
	min-height: 115px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: justify;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 93px;
}

#u1648
{
	z-index: 240;
	width: 780px;
	background-color: transparent;
	position: relative;
}

#u1649-4
{
	z-index: 241;
	width: 770px;
	min-height: 14px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #7F7F7F;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1649-4:hover
{
	border-style: none;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 770px;
	margin: 0px;
}

#u1649-4:active
{
	border-style: none;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 770px;
	margin: 0px;
}

#u1615-4.AccordionPanelTabOpen,#u1619-4.AccordionPanelTabOpen,#u1611-4.AccordionPanelTabOpen,#u1623-4.AccordionPanelTabOpen,#u1641-4.AccordionPanelTabOpen,#u1649-4.AccordionPanelTabOpen
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #84DEE9;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 13px;
	width: 768px;
	margin: 0px;
	border-width: 1px 1px 0px;
}

#u1649-4:hover p
{
	color: #22ACC0;
	visibility: inherit;
}

#u1649-4:active p
{
	color: #22ACC0;
	visibility: inherit;
}

#u1615-4.AccordionPanelTabOpen p,#u1619-4.AccordionPanelTabOpen p,#u1611-4.AccordionPanelTabOpen p,#u1623-4.AccordionPanelTabOpen p,#u1641-4.AccordionPanelTabOpen p,#u1649-4.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
}

#u1650
{
	z-index: 245;
	width: 778px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 40px;
	position: relative;
}

#u1761-5
{
	z-index: 246;
	width: 588px;
	min-height: 115px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: justify;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 93px;
}

#u1618-2,#u1610-2,#u1634-2,#u1643-2,#u1761-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1614,#u1618,#u1634,#u1643,#u1761
{
	line-height: 22px;
}

#u1808-4
{
	z-index: 12;
	width: 314px;
	min-height: 34px;
	background-color: transparent;
	color: #8DC9D0;
	line-height: 31px;
	font-size: 24px;
	letter-spacing: 0px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 118px;
	margin-top: 60px;
	position: relative;
}

#tab-panelu1769
{
	z-index: 97;
	width: 784px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 118px;
	margin-top: 12px;
	position: relative;
}

#u1783
{
	z-index: 98;
	width: 784px;
	border-style: none;
	border-color: transparent;
	background-color: #22ACC0;
	position: relative;
}

#u1788
{
	z-index: 99;
	width: 261px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u1788:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 261px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u1790-4
{
	z-index: 100;
	width: 261px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u1788:hover #u1790-4
{
	border-color: #999999;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 261px;
	margin: 0px -10000px 0px 0px;
}

#u1792
{
	z-index: 104;
	width: 261px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 261px;
	border-width: 1px 0px 1px 1px;
}

#u1792:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 261px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u1788.TabbedPanelsTabSelected,#u1792.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 261px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u1793-4
{
	z-index: 105;
	width: 261px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u1792:hover #u1793-4
{
	border-color: #999999;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 261px;
	margin: 0px -10000px 0px 0px;
}

#u1788.TabbedPanelsTabSelected #u1790-4,#u1792.TabbedPanelsTabSelected #u1793-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 261px;
	margin: 0px -10000px 0px 0px;
}

#u1784
{
	z-index: 109;
	width: 260px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 522px;
}

#u1784:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 260px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1784.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 260px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u1785-4
{
	z-index: 110;
	width: 260px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u1784:hover #u1785-4
{
	border-color: #999999;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 260px;
	margin: 0px -10000px 0px 0px;
}

#u1784.TabbedPanelsTabSelected #u1785-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 260px;
	margin: 0px -10000px 0px 0px;
}

#u1770
{
	z-index: 114;
	width: 784px;
	background-color: transparent;
	position: relative;
}

#u1775
{
	z-index: 115;
	width: 782px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 27px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u1778-15
{
	z-index: 116;
	width: 220px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 21px;
}

#u1809-17
{
	z-index: 131;
	width: 233px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 273px;
}

#u1810-14
{
	z-index: 148;
	width: 233px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 528px;
}

#u1778-2,#u1809-2,#u1810-2
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u1778-4,#u1778-6,#u1778-8,#u1778-10,#u1778-12,#u1778-13,#u1809-4,#u1809-6,#u1809-8,#u1809-10,#u1809-12,#u1809-14,#u1809-15,#u1810-4,#u1810-6,#u1810-8,#u1810-10,#u1810-12
{
	line-height: 20px;
	color: #999999;
}

#u1779
{
	z-index: 162;
	width: 782px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 34px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u1782-14
{
	z-index: 163;
	width: 363px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 77px;
}

#u1771
{
	z-index: 177;
	width: 782px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 34px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u1772-10
{
	z-index: 178;
	width: 363px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 77px;
}

.AccordionPanelTab,.TabbedPanelsTab /* accordion */
{
	cursor: pointer;
}

#u1818
{
	z-index: 6;
	margin-top: 33px;
	position: relative;
}

#pu1439-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 36px;
}

#u1439-4
{
	z-index: 16;
	width: 471px;
	min-height: 209px;
	border-width: 1px;
	border-style: solid;
	border-color: #A3A5A9;
	background-color: #FFFFFF;
	color: #7F7F7F;
	line-height: 17px;
	text-align: justify;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1426-4
{
	z-index: 29;
	width: 470px;
	min-height: 209px;
	border-width: 1px;
	border-style: solid;
	border-color: #A3A5A9;
	background-color: #FFFFFF;
	color: #7F7F7F;
	line-height: 17px;
	text-align: justify;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 489px;
}

#pu1419-5
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 101px;
}

#u1419-5
{
	z-index: 20;
	width: 470px;
	min-height: 223px;
	border-width: 1px;
	border-style: solid;
	border-color: #A3A5A9;
	background-color: #FFFFFF;
	color: #7F7F7F;
	text-align: justify;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1442-5
{
	z-index: 33;
	width: 470px;
	min-height: 231px;
	border-width: 1px;
	border-style: solid;
	border-color: #A3A5A9;
	background-color: #FFFFFF;
	color: #7F7F7F;
	text-align: justify;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 489px;
}

#u1419-2,#u1442-2
{
	font-size: 14px;
	line-height: 17px;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 32px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u1419-3,#u1442-3
{
	font-size: 11px;
	line-height: 14px;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 32px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#pu1424-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 97px;
}

#u1424-4
{
	z-index: 25;
	width: 468px;
	min-height: 241px;
	border-width: 1px;
	border-style: solid;
	border-color: #A3A5A9;
	background-color: #FFFFFF;
	color: #7F7F7F;
	line-height: 17px;
	text-align: justify;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1443-4
{
	z-index: 38;
	width: 470px;
	min-height: 241px;
	border-width: 1px;
	border-style: solid;
	border-color: #A3A5A9;
	background-color: #FFFFFF;
	color: #7F7F7F;
	line-height: 17px;
	text-align: justify;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 489px;
}

#u1434-4
{
	z-index: 42;
	width: 468px;
	min-height: 135px;
	border-width: 1px;
	border-style: solid;
	border-color: #A3A5A9;
	background-color: #FFFFFF;
	color: #7F7F7F;
	line-height: 17px;
	text-align: justify;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	margin-left: 20px;
	margin-top: 100px;
	position: relative;
}

#u1826
{
	z-index: 7;
	-webkit-transform: matrix(-1,0,0,-1,93,85);
	-ms-transform: matrix(-1,0,0,-1,93,85);
	transform: matrix(-1,0,0,-1,93,85);
	position: relative;
	margin-right: -10000px;
	margin-top: 2758px;
	left: 886px;
}

#u1768-4
{
	z-index: 46;
	width: 471px;
	min-height: 78px;
	border-width: 1px;
	border-style: solid;
	border-color: #A3A5A9;
	background-color: #22ACC0;
	color: #FFFFFF;
	line-height: 14px;
	text-align: justify;
	font-size: 11px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 1896px;
	left: 20px;
}

#u1812-4
{
	z-index: 50;
	width: 470px;
	min-height: 78px;
	border-width: 1px;
	border-style: solid;
	border-color: #A3A5A9;
	background-color: #22ACC0;
	color: #FFFFFF;
	line-height: 14px;
	text-align: justify;
	font-size: 11px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 2230px;
	left: 20px;
}

#u1815-4
{
	z-index: 54;
	width: 468px;
	min-height: 78px;
	border-width: 1px;
	border-style: solid;
	border-color: #A3A5A9;
	background-color: #22ACC0;
	color: #FFFFFF;
	line-height: 14px;
	text-align: justify;
	font-size: 11px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 2805px;
	left: 20px;
}

#u1817-4
{
	z-index: 58;
	width: 468px;
	min-height: 78px;
	border-width: 1px;
	border-style: solid;
	border-color: #A3A5A9;
	background-color: #22ACC0;
	color: #FFFFFF;
	line-height: 14px;
	text-align: justify;
	font-size: 11px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 2569px;
	left: 20px;
}

#u1811-4
{
	z-index: 62;
	width: 471px;
	min-height: 78px;
	border-width: 1px;
	border-style: solid;
	border-color: #A3A5A9;
	background-color: #22ACC0;
	color: #FFFFFF;
	line-height: 14px;
	text-align: justify;
	font-size: 11px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 1896px;
	left: 508px;
}

#u1813-4
{
	z-index: 66;
	width: 471px;
	min-height: 78px;
	border-width: 1px;
	border-style: solid;
	border-color: #A3A5A9;
	background-color: #22ACC0;
	color: #FFFFFF;
	line-height: 14px;
	text-align: justify;
	font-size: 11px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 2230px;
	left: 508px;
}

#u1814-4
{
	z-index: 70;
	width: 471px;
	min-height: 78px;
	border-width: 1px;
	border-style: solid;
	border-color: #A3A5A9;
	background-color: #22ACC0;
	color: #FFFFFF;
	line-height: 14px;
	text-align: justify;
	font-size: 11px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 2569px;
	left: 508px;
}

#u1439-2,#u1426-2,#u1424-2,#u1443-2,#u1434-2,#u1768-2,#u1812-2,#u1815-2,#u1817-2,#u1811-2,#u1813-2,#u1814-2
{
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 32px;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-bottom: 60px;
}

#page .verticalspacer
{
	clear: both;
}

