.version.index /* version checker */
{
	color: #000007;
	background-color: #C86138;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1440px;
	min-height: 4723.65px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 33px;
	padding-bottom: 90px;
	width: 0.01px;
}

#u1520
{
	z-index: 104;
	width: 1440px;
	height: 97px;
	background-color: #ABB658;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -720px;
}

#u1514
{
	z-index: 111;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: -575px;
}

#u1519
{
	z-index: 105;
	width: 115px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 19px;
	left: 50%;
	margin-left: -519px;
}

#u645-4
{
	z-index: 106;
	width: 115px;
	min-height: 42px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u652
{
	z-index: 110;
	width: 69px;
	height: 60px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#pu1568
{
	width: 0.01px;
}

#u1568
{
	z-index: 4;
	width: 1440px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1575
{
	z-index: 92;
	width: 607px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 515px;
	left: 549px;
}

#u1576
{
	z-index: 93;
	width: 607px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1533-4
{
	z-index: 94;
	width: 291px;
	min-height: 208px;
	border-color: #F9593A;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 130px;
	line-height: 156px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1546-4
{
	z-index: 98;
	width: 333px;
	min-height: 208px;
	border-color: #F9593A;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 130px;
	line-height: 156px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 274px;
}

#u650-11
{
	z-index: 10;
	width: 751px;
	min-height: 496px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: justify;
	font-size: 22px;
	font-family: handlee, sans-serif;
	font-weight: 400;
	margin-left: 301px;
	margin-top: 88px;
	position: relative;
}

#u1583
{
	z-index: 8;
	width: 1440px;
	background-color: transparent;
	position: relative;
}

#u1552-8
{
	z-index: 21;
	width: 724px;
	min-height: 247px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: justify;
	font-size: 22px;
	font-family: handlee, sans-serif;
	font-weight: 400;
	margin-left: 343px;
	margin-top: 78px;
	position: relative;
}

#u650-2,#u650-3,#u650-5,#u650-6,#u650-8,#u1552-2,#u1552-3,#u1552-5
{
	line-height: 37px;
}

#u650-9,#u1552-6
{
	line-height: 27px;
}

#u1559
{
	z-index: 6;
	width: 1440px;
	background-color: transparent;
	position: relative;
}

#u1545-34
{
	z-index: 34;
	width: 732px;
	min-height: 247px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: justify;
	font-size: 22px;
	line-height: 27px;
	font-family: handlee, sans-serif;
	font-weight: 400;
	margin-left: 343px;
	margin-top: 87px;
	position: relative;
}

#u1589
{
	z-index: 102;
	width: 1440px;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#u1565-16
{
	z-index: 68;
	width: 732px;
	min-height: 247px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: justify;
	font-size: 22px;
	line-height: 37px;
	font-family: handlee, sans-serif;
	font-weight: 400;
	margin-left: 343px;
	margin-top: 42px;
	position: relative;
}

#pu1553
{
	width: 0.01px;
	margin-left: 324px;
	margin-top: 18px;
}

#u1553
{
	z-index: 2;
	width: 751px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1547-5
{
	z-index: 29;
	width: 342px;
	min-height: 242px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: justify;
	font-size: 26px;
	line-height: 32px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 711px;
	left: 348px;
}

#u1566-8
{
	z-index: 84;
	width: 751px;
	min-height: 59px;
	background-color: transparent;
	color: #F15A24;
	text-align: justify;
	font-size: 22px;
	line-height: 27px;
	font-family: cedarville-cursive, cursive;
	font-weight: 400;
	margin-left: 324px;
	margin-top: 19px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1440px;
	padding-bottom: 25px;
}

#page .verticalspacer
{
	clear: both;
}

